<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-4xl mb-5">Create Your Account /<a href="/login" class="px-1 text-blue-500 text-3xl">Login</a></h3>
        
        <form action="/signup" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
            <input type="text" name="email" placeholder="Enter Your Email" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
            <input type="password" name="password" placeholder="Enter Your Password" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">
            <input type="text" name="role" placeholder="Enter Your Role" class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800">

            <input type="submit" value="Register" class="px-5 py-3 rounded-md bg-blue-500">
        </form>
    </div>
</body>
</html>